/* Extra large devices  */
@media (min-width: 1200px) {}


/* Large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* header section start */
  #headerPart {
    background: #000;
  }

  .nav-link {
    text-align: center;
  }

  /* header section end */

  /* banner section start */
  .bannerPara h4 {
    font-size: 24px;
    font-weight: 700;

  }

  .bannerPara p {
    font-size: 12px;
    font-weight: 400;
  }

  /* banner section end */
   /* service section start */
  .serviceText h3{
    font-size: 24px;
    font-weight: 700;
  }
  .serviceText p{
    font-size: 12px;
    font-weight: 400;
    
  }
  /* service section end */

}

/* Extra small devices  */
@media (min-width: 320px) and (max-width: 575.98px) {

  /* header section start */
  #headerPart {
    background: #000;
  }

  .nav-link {
    text-align: center;
  }

  /* header section end */

  /* banner section start */
  .bannerText h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .bannerText h4 {
    font-size: 24px;
    font-weight: 700;
  }

 

  .bannerPara p {
    font-size: 12px;
    font-weight: 400;
  }

  /* banner section end */


  /* service section start */
  .serviceText h3{
    font-size: 24px;
    font-weight: 700;
  }
  .serviceText p{
    font-size: 12px;
    font-weight: 400;

  }
  /* service section end */

  /* header section start */
  /* header section end */
  /* header section start */
  /* header section end */
}