/* all common css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* all common css End */


/* header section style start */
#headerPart{
    background: #D9D9D9;
}
.navbar-brand{
    display: flex;
    align-items: center;
    color: #fff;
    column-gap: 5px;
}
.navbar-brand h4{
    font-size: 18px;
    font-weight: 800;

}
.nav-link{
    margin-left: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
/* header section style end */


/* banner section style start */
#bannerPart{
     background: #D9D9D9;
     padding: 100px 0;
}
.bannerText h1{
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    line-height: 120px;
}
.bannerText h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 160px;
    color: #fff;
}
.arrow img{
    padding: 29px;
    background: #000;
    border-radius: 130px;
    margin-right: 20px;
}
.bannerPara h4{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    

}
.bannerPara p{
    font-size: 18px;
    font-weight: 400;
    line-height: 120%; 
    color: #fff;
    padding-top: 20px;
}
/* banner section style end */

/* works section style start */
#worksPart{
    background: #000;
    opacity: 0.8;
    padding: 50px 0;
    color: #fff;
}
.worksFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.worksTitle{
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 40px;
}
.workItem h5{
    width: 62px;
    height: 55px;
    background: #4CB5CE;
    border-radius: 16px;
}
.workItem h4{
    font-size: 24px;
    font-weight: 800;
    width: 194px;
    line-height: 120%;
     padding-top: 12px;
}
.workItem p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 12px;
}
/* works section style end */


/* header section style start */
/* header section style end */
/* header section style start */
/* header section style end */
/* header section style start */
/* header section style end */